<div class="row">
    <div class="col-sm-12">
        <div class="group-name-box">
            <span class="caret-closed" *ngIf="!expanded" aria-label="expand" (click)="onExpand()"></span>
            <span class="caret-open" *ngIf="expanded" aria-label="close" (click)="onContract()"></span>
            {{groupname}}
        <span class="close-button" aria-label="Remove" (click)="onDelete()"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <ul *ngIf="expanded">
            <li *ngFor="let user of roster | keyvalue">{{user.value.handle}} ({{user.value.email}})</li>
        </ul>
    </div>
</div>